$primaryColor: #61dafb;
$secondaryColor: #fff;

.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;

  &__picture {
    max-width: 350px !important;
    border-radius: 20px;
    box-shadow: 3px 3px $primaryColor;
  }
  
  &__text {
    width: 590px;
  }
  
  &__text h2 {
    color: $secondaryColor;
    font-size: 4em;
    text-transform: capitalize;
    margin-bottom: 20px;
  }
  
  &__text p {
    color: $secondaryColor;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
  }

  &__cardImages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 990px) {
  .about {
    &__picture {
      max-width: 280px !important;
    }
    
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
    }
    
    &__text h2 {
      font-size: 2.5em;
      text-align: center;
    }
  }
}
