.cardImages__container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  width: 80%;
  /* border: green 2px solid; */
  justify-content: space-around;
  align-items: center;
}

.cardImages__icon {
  /* padding: 5px; */
  width: 40px;
  margin: 10px;
}