.cardImages {
  &__container {
    display: flex;
    flex-wrap: wrap;
    padding: 55px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  
  &__icon {
    width: 40px;
    margin: 10px;
  }
}

@media screen and (max-width: 460px) {
  .cardImages {
    &__container {
      width: 115%;
      // border: red 2px solid;
    }
  }
}
