.home {
  display: flex;
  background-image: url(../../../images/background-main.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
  background-attachment: fixed;

  &__title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
  
}


#animate-flicker {
  margin-left: 1vw;
  color: #fff;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#animate-flicker {
  -webkit-animation: flickerAnimation 1s infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
  animation: flickerAnimation 1s infinite;
}
